@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<!--Banner và Countdown-->
<div style="padding:1em">
    <img style="width: 1442px; height: 740px" src="~/image/Index/banner1.jpg" />
</div>

<div style="width: 979px; height: 444px;margin:auto; position:relative">
    <div style="width: 979px; height: 444px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 6px 8px 10px 3px rgba(0, 0, 0, 0.25); border-radius: 62px"></div>
    <div style="width: 596px; height: 98px; left: 191px; top: 37px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">Thời gian tham gia còn</div>
    <div style="width: 462px; height: 104.65px; left: 258px; top: 300px; position: absolute">
        <div style="width: 462px; height: 104.65px; left: 0px; top: 0px; position: absolute; background: #EA4335; border-radius: 50px"></div>
        <div style="width: 417.41px; height: 34.17px; left: 21.57px; top: 42px; position: absolute; text-align: center; color: white; font-size: 48px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">THAM GIA NGAY</div>
    </div>
    <div style="width: 860px; height: 184px; left: 60px; top: 114px; position: absolute">
        <div style="width: 860px; height: 184px; left: 0px; top: 0px; position: absolute; border-radius: 26px"></div>
        <div style="width: 109px; height: 68.08px; left: 5px; top: 57.96px; position: absolute; text-align: center; color: #EA4335; font-size: 55px; font-family: Josefin Sans; font-weight: 600; word-wrap: break-word">0</div>
        <div style="width: 109px; height: 68.08px; left: 224px; top: 57.96px; position: absolute; text-align: center; color: #4285F4; font-size: 55px; font-family: Josefin Sans; font-weight: 600; word-wrap: break-word">0</div>
        <div style="width: 109px; height: 68.08px; left: 430px; top: 55.20px; position: absolute; text-align: center; color: #E57C23; font-size: 55px; font-family: Josefin Sans; font-weight: 600; word-wrap: break-word">0</div>
        <div style="width: 109px; height: 68.08px; left: 644px; top: 57.96px; position: absolute; text-align: center; color: #34A853; font-size: 55px; font-family: Josefin Sans; font-weight: 600; word-wrap: break-word">0</div>
        <div style="width: 134px; height: 57.96px; left: 69px; top: 63.48px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">ngày</div>
        <div style="width: 134px; height: 57.96px; left: 274px; top: 60.72px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">giờ</div>
        <div style="width: 134px; height: 57.96px; left: 490px; top: 63.48px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">phút</div>
        <div style="width: 134px; height: 57.96px; left: 702px; top: 63.48px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">giây</div>
    </div>
</div>

<!--Giới thiệu về S.T.A.M.P-->

<div style="width: 1440px; height: 667px; position: relative; margin:auto; padding:1em">
    <div style="width: 1488px; height: 643px; left: -24px; top: 24px; position: absolute">
        <img style="width: 1464px; height: 566px; left: 0px; top: 0px; position: absolute" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 1.png" />
        <img style="width: 1464px; height: 566px; left: 0px; top: 100px; position: absolute" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 2.png" />
        <!--img style="width: 1464px; height: 566px; left: 1488px; top: 643px; position: absolute; transform: rotate(180deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 1.png" /-->
    </div>
    <div style="width: 636px; height: 42px; left: 402px; top: 148px; position: relative; text-align: center; color: #EA4335; font-size: 48px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">
        GIỚI THIỆU VỀ S.T.A.M.P
        <div class="container" style="width: 275px; height: 5px; top:0.5em; margin:auto; position: relative; bottom:0.5em">
            <div style="width: 56px; height: 7px; left: 0px; top: 0px; position: absolute; background: #EA4335; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 73px; top: 0px; position: absolute; background: #4285F4; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 146px; top: 0px; position: absolute; background: #E57C23; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 219px; top: 0px; position: absolute; background: #34A853; border-radius: 2px"></div>
        </div>
    </div>
    <img style="width: 579px; height: 161px; left: 829px; top: 297px; position: absolute" src="~/image/Index/GioiThieuVeStamp/Untitled design (1) 1.png" />
    <div style="width: 727px; height: 357px; left: 95px; top: 9em; position: relative; text-align: justify">
        <span style="color: #34A853; font-size: 27px; font-family: Josefin Sans; font-style: italic; font-weight: 600; line-height: 35px; word-wrap: break-word">
            Cuộc thi thiết kế và triển lãm tem thư S.T.A.M.P
        </span>
        <span style="color: black; font-size: 24px; font-family: Josefin Sans; font-weight: 600; line-height: 35px; word-wrap: break-word"> 
            được lấy cảm hứng từ ngày kỷ niệm “Ngày tem Việt Nam” 27/08. 
            Cuộc thi được tổ chức với mục tiêu vừa giúp các bạn sinh viên lan tỏa tình yêu quê hương đất nước thông qua những tác phẩm tem thư 
            vừa giúp các bạn có thêm trải nghiệm thiết kế ra một tác phẩm tem thư hoàn chỉnh và duy trì sức sống trường tồn của tem thư
        </span>
    </div>
    <div style="width: 1380.52px; height: 538.32px; left: 0px; top: 112px; position: absolute">
        <img style="width: 127.20px; height: 87.57px; left: 973.66px; top: 354px; position: absolute; transform: rotate(17.04deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 1.png" />
        <img style="width: 157.28px; height: 90.69px; left: 95px; top: 456.36px; position: absolute; transform: rotate(-25.36deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 2.png" />
        <img style="width: 132.38px; height: 76.34px; left: 0px; top: 56.70px; position: absolute; transform: rotate(-25.36deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 3.png" />
        <img style="width: 132.38px; height: 76.34px; left: 1291.51px; top: 30px; position: absolute; transform: rotate(47.75deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 4.png" />
    </div>
</div>

<div style="width: 1442px; height: 1053px; padding-left: 80px; padding-right: 80px; padding-top: 29px; padding-bottom: 29px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="width: 1236.25px; height: 985px; position: relative">
        <div style="width: 649px; height: 87px; left: 294.08px; top: 0px; position: absolute; text-align: center; color: #EA4335; font-size: 48px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">
            CƠ CẤU GIẢI THƯỞNG
            <div class="container" style="width: 275px; height: 5px; top:0.5em; margin:auto; position: relative; bottom:0.5em">
                <div style="width: 56px; height: 7px; left: 0px; top: 0px; position: absolute; background: #EA4335; border-radius: 2px"></div>
                <div style="width: 56px; height: 7px; left: 73px; top: 0px; position: absolute; background: #4285F4; border-radius: 2px"></div>
                <div style="width: 56px; height: 7px; left: 146px; top: 0px; position: absolute; background: #E57C23; border-radius: 2px"></div>
                <div style="width: 56px; height: 7px; left: 219px; top: 0px; position: absolute; background: #34A853; border-radius: 2px"></div>
            </div>
        </div>
        <div style="width: 706px; height: 110px; left: 265.75px; top: 255px; position: absolute; opacity: 0.80; border-radius: 15px; border: 1px #E8AA42 solid"></div>
        <div style="width: 511px; height: 110px; left: 0.25px; top: 565px; position: absolute; opacity: 0.80; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px black solid"></div>
        <div style="width: 511px; height: 110px; left: 725.25px; top: 565px; position: absolute; opacity: 0.80; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px black solid"></div>
        <div style="left: 511.75px; top: 182px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">GIẢI NHẤT</div>
        <div style="left: 363.12px; top: 282px; position: absolute; text-align: center; color: #E57C23; font-size: 60px; font-family: Josefin Sans; font-weight: 700; letter-spacing: 6px; word-wrap: break-word">3.000.000 VNĐ</div>
        <div style="left: 41.12px; top: 598px; position: absolute; text-align: center; color: #E57C23; font-size: 50px; font-family: Josefin Sans; font-weight: 700; letter-spacing: 5px; word-wrap: break-word">2.000.000 VNĐ</div>
        <div style="left: 772.12px; top: 598px; position: absolute; text-align: center; color: #E57C23; font-size: 50px; font-family: Josefin Sans; font-weight: 700; letter-spacing: 5px; word-wrap: break-word">1.000.000 VNĐ</div>
        <div style="left: 68.12px; top: 908px; position: absolute; text-align: center; color: #E57C23; font-size: 50px; font-family: Josefin Sans; font-weight: 700; letter-spacing: 5px; word-wrap: break-word">500.000 VNĐ</div>
        <div style="left: 792.12px; top: 908px; position: absolute; text-align: center; color: #E57C23; font-size: 50px; font-family: Josefin Sans; font-weight: 700; letter-spacing: 5px; word-wrap: break-word">500.000 VNĐ</div>
        <div style="left: 166.25px; top: 477px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">GIẢI NHÌ</div>
        <div style="width: 511px; height: 110px; left: 0px; top: 875px; position: absolute; opacity: 0.80; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px black solid"></div>
        <div style="left: 42px; top: 787px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">GIẢI KHUYẾN KHÍCH</div>
        <div style="width: 511px; height: 110px; left: 717.12px; top: 875px; position: absolute; opacity: 0.80; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; border: 1px black solid"></div>
        <div style="left: 809.12px; top: 787px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">GIẢI YÊU THÍCH</div>
        <div style="width: 214px; height: 51px; left: 873.25px; top: 487px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">GIẢI BA</div>
    </div>
</div>


<div style="width: 1440px; height: 667px; position: relative; margin:auto; padding:1em">
    <div style="width: 1488px; height: 643px; left: -24px; top: 24px; position: absolute">
        <img style="width: 1464px; height: 566px; left: 0px; top: 0px; position: absolute" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 1.png" />
        <img style="width: 1464px; height: 566px; left: 0px; top: 100px; position: absolute" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 2.png" />
        <!--img style="width: 1464px; height: 566px; left: 1488px; top: 643px; position: absolute; transform: rotate(180deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT (3) 1.png" /-->
    </div>
    <div style="width: 636px; height: 42px; left: 402px; top: 148px; position: relative; text-align: center; color: #EA4335; font-size: 48px; font-family: Josefin Sans; font-weight: 700; word-wrap: break-word">
        CÁC MỐC THỜI GIAN
        <div class="container" style="width: 275px; height: 5px; top:0.5em; margin:auto; position: relative; bottom:0.5em">
            <div style="width: 56px; height: 7px; left: 0px; top: 0px; position: absolute; background: #EA4335; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 73px; top: 0px; position: absolute; background: #4285F4; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 146px; top: 0px; position: absolute; background: #E57C23; border-radius: 2px"></div>
            <div style="width: 56px; height: 7px; left: 219px; top: 0px; position: absolute; background: #34A853; border-radius: 2px"></div>
        </div>
    </div>
    <img style="width: 1200px; height: auto; position:relative; top:7em" src="~/image/Index/ThoiGian.png" />
    <div style="width: 1380.52px; height: 538.32px; left: 0px; top: 112px; position: absolute">
        <img style="width: 127.20px; height: 87.57px; left: 973.66px; top: 354px; position: absolute; transform: rotate(17.04deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 1.png" />
        <img style="width: 157.28px; height: 90.69px; left: 95px; top: 456.36px; position: absolute; transform: rotate(-25.36deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 2.png" />
        <img style="width: 132.38px; height: 76.34px; left: 0px; top: 56.70px; position: absolute; transform: rotate(-25.36deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 3.png" />
        <img style="width: 132.38px; height: 76.34px; left: 1291.51px; top: 30px; position: absolute; transform: rotate(47.75deg); transform-origin: 0 0" src="~/image/Index/GioiThieuVeStamp/GIẢI NHẤT 4.png" />
    </div>
</div>