@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div style="width: 1440px; height: 667px; position: absolute; background: white; border: 2.50px solid">
    <img src="~/image/Index/Giới thiệu về STAMP.svg" />
    <img src="~/image/Index/CƠ CẤU GIẢI THƯỞNG.svg" />
    <img src="~/image/Index/THỜI GIAN.svg" />
</div>
