@page
@model UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.13/tailwind.min.css">
<div style="width: 800px;">
    <span>Đăng ký tác phẩm nhóm</span>
    <div class="mt-4 flex flex-col">
        <input type="text" placeholder="Tên tác phẩm" class="border-2 mt-4 border-black rounded-md p-2">
        <span class="text-left mt-4">Trưởng nhóm</span>
        <input type="text" placeholder="Họ và tên" class="border-2 mt-4 border-black rounded-md p-2">
        <input type="text" placeholder="Email" class="border-2 mt-4 border-black rounded-md p-2">
        <span class="text-left mt-4">Thành viên 1</span>
        <input type="text" placeholder="Họ và tên" class="border-2 mt-4 border-black rounded-md p-2">

    </div>
</div>
