@page
@model UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.13/tailwind.min.css">
<div style="width: 800px; height: 500px" class=" px-12 py-4 flex justify-around " >
    <div class="flex flex-col justify-around items-center">
        <img class="relative " style="width:200px"  src="~/icons/avatarBorder.svg" alt="">
        <img class="absolute " style="width: 150px;" src="~/image/Profile/DefaultImg.svg" alt="">
    </div>
    <div class="flex flex-col items-start justify-start mt-24">
        <h2>
            Mừng ngày Phụ nữ Việt Nam 20/10
        </h2>
        <h3 class="mt-4">DMKhoa</h3>
        <h3 class="mt-4">Description</h3>
    </div>
</div>
