@page
@model UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.13/tailwind.min.css">
<div style="width: 800px; height: 400px" class="relative px-12 py-4 flex flex-col justify-center items-center" >
    <h2 class="mb-4 text-3xl">Đăng ký thành công</h2>
<button>
        <img src="~/icons/redCancel.svg" alt="" class="absolute top-10 right-0" style="width:30px">
    </button>
    <p class="mb-4">Hãy kiểm tra e-mail và đảm bảo rằng tất cả các thành viên trong nhóm đều đã xác nhận đăng kí ghép nhóm thành công</p>
    <img src="~/icons/success.svg" alt="">
</div>
