@page
@model About2022Model
@{
    ViewData["Title"] = "Về S.T.A.M.P";
}
<link href="d:\stamp2023\stamp2023\pages\about2022.cshtml.css" rel="stylesheet" />
<style>
    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #F84E4E;
    }

    a:active {
        text-decoration: underline;
        color: #F84E4E;
    }
</style>

<body style="background-color: #F8F1F1" class="About">
    <!--Vertical nav bar-->
    <div class="site-inner" style="height: auto !important">
        <aside class="dynamic-menu" style="background-color:#FFF">
            <div id="dy-menu">
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p>
                            <a href="d:\stamp2023\stamp2023\pages\about.cshtml.cs"><b>STAMP 2023</b></a>
                        </p>
                    </h2>
                </div>
                <div class="leftmenu2">
                    <ul>
                        <li><a href="/html/the-le-html">Thể lệ</a></li>
                        <li><a href="/html/doi-tuong-html">Đối tượng</a></li>
                        <li><a href="/html/noi-quy-html">Nội quy</a></li>
                    </ul>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p><a href="d:\stamp2023\stamp2023\pages\about2022.html" target="_blank"><b>STAMP 2022</b></a></p>
                    </h2>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p><a href="d:\stamp2023\stamp2023\pages\about2021.html" target="_blank"><b>STAMP 2021</b></a></p>
                    </h2>
                </div>
            </div>
        </aside>

        <!--Main content-->
        <main class="content" style="height: auto !important; background-color:#FFF">
            <div class="container" style="width:auto">
                <img class="image-responsive" src="~/image/Index/GioiThieuVeStamp/Untitled design (1) 1.png" alt="logo" width="475px" height="154px" />
                <div class="banner-sub">
                    <h1><strong>S.T.A.M.P - SSEEK TALENT AND MAKE PASSION</strong></h1>
                    <p>S.T.A.M.P 2022 đã quay trở lại với chủ đề <b>“S.T.A.M.P - Seek talent and Make passion”</b> với sứ mệnh giúp sinh viên UEH khám phá và phát triển tài năng thiết kế tem thư, đồng thời hưởng ứng ngày Quốc Khánh Việt Nam 2/9. Đặc biệt trong mùa 2 của cuộc thi, Ban Tổ chức đã nhận được sự hỗ trợ chuyên môn của Hội Tem TP. Hồ Chí Minh nên đã có sự khắt khe hơn về hình thức tiêu chuẩn của từng tác phẩm.</p>
                </div>
            </div>
            <div class="container-center-display">
                <h2 class="text-danger">CHỦ ĐỀ TÁC PHẨM</h2>
            </div>
            <img class="image-responsive" src="~/image/Index/4-color-dash.png" alt="4dash" width="184.999px" height="5px" />
            <div class="stamp-box">

                <!--Tác phẩm STAMP 2021-->
                <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                </div>
                </center>
                <h3 class="stamp-caption">ẤM - THỰC</h3>
                <p class="stamp-creator">Phạm Minh Thắng - Lê Mai Hương</p>
                <div class="grid-stamp">
                    <div class="left-comlumn-stamp">
                    <center>
                    <div class="stamp">
                        <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                    </center>
                    <h3 class="stamp-caption">MỪNG NGÀY PHỤ NỮ VIỆT NAM 20/10</h3>
                    <p class="stamp-creator">Đoàn Minh Khoa</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">BÁC VÀ SEN</h3>
                        <p class="stamp-creator">Phan Huỳnh Khánh Tâm - Nguyễn Thị Huyền Trang - Nguyễn Thị Thuỳ Trang</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">CHẤT VIỆT</h3>
                    <p class="stamp-creator">Nguyễn Hoàng Khánh Nguyên - Phạm Ngân Hà</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">NHỮNG ĐÓA HOA BẤT TỬ</h3>
                    <p class="stamp-creator">Hoàng Khánh Nhi - Phan Minh Tríà</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">VIỆT NAM QUYẾT THẮNG ĐẠI DỊCH</h3>
                    <p class="stamp-creator">Lê Hải My</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">VỮNG BƯỚC NON SÔNG</h3>
                    <p class="stamp-creator">Đào Bảo Ngọc</p>

                    <center>
                    <div class="stamp" style="width:346px; height:280px">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">AI TRONG CHÚNG TA CŨNG CÓ THỂ TRỞ THÀNH ANH HÙNG</h3>
                    <p class="stamp-creator">Đoàn Minh Khoa</p>
                    </div>

                    <div class="right-column-stamp">
                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">THE HEROES</h3>
                        <p class="stamp-creator">Phạm Dương Thị Thúy Truyền</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">VIỆT NAM TÔI YÊU</h3>
                        <p class="stamp-creator">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">LỊCH SỬ QUA 4 MÙA</h3>
                        <p class="stamp-creator">Lê Gia Hân - Đặng Trí Thành</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">VIỆT NAM TÔI YÊU</h3>
                        <p class="stamp-creator">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">THÀNH PHỐ MANG TÊN BÁC</h3>
                        <p class="stamp-creator">Nguyễn Võ Thu Hương - Phạm Xuân Duy</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">VIỆT NAM KIÊN CƯỜNG</h3>
                        <p class="stamp-creator">Nguyễn Hà An - Nguyễn Thị Trúc Vy - Hồ Thị Kim Vi</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">VIỆT NAM TÔI YÊU</h3>
                        <p class="stamp-creator">Trần Huyền Trân - Trần Nữ Hoài Như - Nguyễn Phúc Minh Thuỳ</p>
                    </div>
                </div>
            </div>
    </main>
    </div>
</body>

