@page
@model AboutModel
@{
    ViewData["Title"] = "Về S.T.A.M.P";
}

<style>
    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #F84E4E;
    }

    a:active {
        text-decoration: underline;
        color: #F84E4E;
    }
</style>

<body style="background-color: #F8F1F1" class="About">
    <!--Vertical nav bar-->
    <div class="site-inner" style="height: auto !important">
        <aside class="dynamic-menu" style="background-color:#FFF">
            <div id="dy-menu">
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p>
                            <a href="default.asp"><b>STAMP 2023<b></a>
                        </p>
                    </h2>
                </div>
                <div class="leftmenu2">
                    <ul>
                        <li><a href="/html/the-le-html">Thể lệ</a></li>
                        <li><a href="/html/doi-tuong-html">Đối tượng</a></li>
                        <li><a href="/html/noi-quy-html">Nội quy</a></li>
                    </ul>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p>
                            <a href="d:\stamp2023\stamp2023\pages\about2022.cshtml.cs"><b>STAMP 2022</b></a>
                        </p>
                    </h2>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p><a href="d:\stamp2023\stamp2023\pages\about2021.html" target="_blank"><b>STAMP 2021</b></a></p>
                    </h2>
                </div>
            </div>
        </aside>

        <!--Main content-->
        <main class="content" style="height: auto !important; background-color:#FFF">
            <div class="container" style="width:auto">
                <img class="image-responsive" src="~/image/Index/GioiThieuVeStamp/Untitled design (1) 1.png" alt="logo" width="475px" height="154px" />
                <div class="banner-sub">
                    <h1><strong>S.T.A.M.P - STAND TOGETHER AND MAKE PROTECTION</strong></h1>
                    <p>Cuộc thi S.T.A.M.P 2023 với chủ đề <b>“S.T.A.M.P - Stand Together And Make Protection”</b> được tổ chức nhằm hưởng ứng ngày Quốc tế Bảo vệ tầng Ozone 16/09. Cuộc thi là sân chơi giúp các bạn sinh viên phát huy khả năng sáng tạo vô hạn của bản thân để thiết kế ra những chiếc tem thư hướng về mái nhà xanh của chúng ta. Đồng thời, qua các hoạt động triển lãm, BTC mong muốn sức sống mãnh liệt của nghệ thuật thiết kế tem thư sẽ luôn trường tồn mãi với thời gian và hy vọng, những chiếc tem đặc biệt này sẽ chung tay lan tỏa tinh thần bảo vệ tầng Ozone và bảo vệ môi trường xanh đến tất cả mọi người.</p>
                </div>
            </div>
            <div class="container-center-display">
                <h2 class="text-danger">CHỦ ĐỀ TÁC PHẨM</h2>
            </div>
            <img class="image-responsive" src="~/image/Index/4-color-dash.png" alt="4dash" width="184.999px" height="5px" />
            <div class="center-box" style="position: absolute; width: 1000px; height: 107px">
                <p class="quotation-mark" style="display: inline; margin-top: 24px>">"</p>
                <p class="box-text" style="display: inline; width: 80%; height: 10%">Thiết kế tem thư với nội dung liên quan đến tuyên truyền, lan tỏa tinh thần yêu thương, bảo vệ, khẳng định tầm quan trọng, quý báu của thiên nhiên, môi trường và đặc biệt là tầng Ozone.</p>
            </div>
            <div class="container-center-display">
                <h3 class="text-danger">ĐỐI TƯỢNG DỰ THI</h3>
            </div>
            <img class="image-responsive" src="~/image/Index/4-color-dash.png" alt="4dash" width="184.999px" height="5px" />
            <div class="grid-content">
                <div class="left-column-content">
                    <div class="left-brief-box">
                        <hr style="margin-top:5px; width:3px; color: var(--trng, #F8F1F1)">
                        <p>
                            Thiết kế dự thi
                        </p>
                        <ul>
                            <li>- Sinh viên đăng ký và tham gia dự thi bằng cách điền thông tin, gửi tác phẩm dự thi vào trang nhận bài trên website của cuộc thi S.T.A.M.P.</li>
                            <br />
                            <li>- Với mỗi tác phẩm chưa đúng quy định, BTC sẽ gửi mail thông báo sửa tác phẩm, thí sinh gửi lại tác phẩm hoàn thiện trước khi kết thúc thời gian tổng hợp bài thi.</li>
                            <br />
                            <li>- Lưu ý: Tác phẩm chưa đúng quy định sẽ bị loại ở vòng nộp bài nếu thí sinh không gửi lại tác phẩm. Trong trường hợp này, thí sinh không được công nhận tham gia cuộc thi.</li>
                        </ul>
                    </div>
                    <div class="left-brief-box">
                        <hr style="margin-top:23px; width:3px; color: var(--trng, #F8F1F1)">
                        <p>
                            Triển lãm
                        </p>
                    </div>
                </div>
                <div class="right-column-content">
                    <div class="right-brief-box">
                        <hr style="margin-top:5px; width:3px; color: var(--trng, #F8F1F1)">
                        <p>
                            Bình chọn
                        </p>
                        <ul>
                            <li style="font-weight:300">- Những tác phẩm dự thi đúng quy định sẽ được đưa lên bình chọn trên website cuộc thi.</li>
                            <br />
                            <li>- Quy tắc tính điểm:</li>
                            <li style="list-style-type: circle; font-weight:300"> Mỗi lượt bình chọn = 1 điểm; Top 20 tác phẩm có lượt bình chọn cao nhất sẽ vào vòng triển lãm;</li>
                            <li style="list-style-type: circle; font-weight:300"> Số điểm vòng bình chọn chiếm 10% tổng điểm chung cuộc của cuộc thi;</li>
                            <li style="list-style-type: circle; font-weight:300"> Tác phẩm có lượt bình chọn cao nhất sẽ được tối đa điểm quy đổi của vòng bình chọn theo thang điểm 10 (tức 1 điểm).</li>
                            <br />
                            <li style="font-weight:300">- Top 20 tác phẩm xuất sắc của vòng bình chọn sẽ nhận được lời mời tham gia vòng triển lãm. Nếu thí sinh không phản hồi email trong vòng 24h sẽ mất quyền dự thi.</li>
                        </ul>
                    </div>
                    <div class="right-brief-box">
                        <hr style="margin-top:23px; width:3px; color: var(--trng, #F8F1F1)">
                        <p>
                            Quy định tác phẩm
                        </p>
                        <ul>
                            <li>- Tác phẩm dự thi bao gồm:</li>
                            <li style="list-style-type: circle; font-weight:300"> Con tem: vẽ bằng tay (tô kín màu, gửi file chụp hình rõ nét) hoặc thiết kế bằng phần mềm đồ hoạ (gửi file gốc hoặc link gốc tác phẩm).</li>
                            <li style="list-style-type: circle; font-weight:300"> Bản thuyết minh tác phẩm, trình bày ngắn gọn trên 01 mặt giấy A4, font chữ Times New Roman, cỡ chữ 13.</li>
                            <li style="list-style-type: circle; font-weight:300"> Nếu tác phẩm được vào vòng triển lãm, cần bổ sung thêm 01 video giới thiệu về tác phẩm dự thi.</li>
                            <br />
                            <li>- Số lượng tác phẩm dự thi:</li>
                            <li style="list-style-type: circle; font-weight:300"> Mỗi cá nhân hoặc mỗi nhóm chỉ đăng ký 01 tác phẩm dự thi đạt yêu cầu của BTC.</li>
                            <li style="list-style-type: circle; font-weight:300"> Các cá nhân muốn nộp nhiều tác phẩm có thể tham gia dưới hình thức nhiều nhóm.</li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>
    </div>
</body>

