@page
@model AboutModel
@{
    ViewData["Title"] = "Về S.T.A.M.P";
}
<style>
    a:link {
        text-decoration: none;
        color: black;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: #F84E4E;
    }

    a:active {
        text-decoration: underline;
        color: #F84E4E;
    }
</style>

<body class="About">
   <!--Tab menu bên trái-->
  <div class="site-inner" style="height: auto !important,">
    <aside class="dynamic-menu">
      <div id="dy-menu">
        <div class="leftmenu">
           <h2 class="stamp-year">
                        <p><a href="default.asp" target="_blank"><b>STAMP 2023</b></a></p>
           </h2>
         </div>
        <div class="leftmenu2">
            <ul>
                    <li><a href="/html/the-le-html">Thể lệ</a></li>
                    <li><a href="/html/doi-tuong-html">Đối tượng</a></li>
                    <li><a href="/html/noi-quy-html">Nội quy</a></li>
                </ul>
         </div>
        <div class="leftmenu">
         <h2 class="stamp-year">
                        <p><a href="default.asp" target="_blank"><b>STAMP 2022</b></a></p>
         </h2>
         </div>
        <div class="leftmenu">
         <h2 class="stamp-year">
                        <p><a href="default.asp" target="_blank"><b>STAMP 2021</b></a></p>
         </h2>
         </div>
       </div>
     </aside>
     <main class="content" style="height: auto !important;">
       <div class="container">
           <img class="image-responsive" src="~/image/Index/GioiThieuVeStamp/Untitled design (1) 1.png" alt="logo" width="275px" height="74px"/>
        <div class="banner2023">
           <img class="image-responsive" src="~/image/Index/STAMP 2023 banner.png" alt width="403px" height="277px" margin-left="0px"/>
        <div class="banner-sub">
                    <h1><strong>S.T.A.M.P - STAND TOGETHER AND MAKE PROTECTION</strong></h1>
                    <p>Cuộc thi S.T.A.M.P 2023 với chủ đề <b> “S.T.A.M.P - Stand Together And Make Protection” </b> được tổ chức nhằm hưởng ứng ngày Quốc tế Bảo vệ tầng Ozone 16/09. Cuộc thi là sân chơi giúp các bạn sinh viên phát huy khả năng sáng tạo vô hạn của bản thân để thiết kế ra những chiếc tem thư hướng về mái nhà xanh của chúng ta. Đồng thời, qua các hoạt động triển lãm, BTC mong muốn sức sống mãnh liệt của nghệ thuật thiết kế tem thư sẽ luôn trường tồn mãi với thời gian và hy vọng, những chiếc tem đặc biệt này sẽ chung tay lan tỏa tinh thần bảo vệ tầng Ozone và bảo vệ môi trường xanh đến tất cả mọi người.</p>
          </div>
          </div>
        <div class="container-center-display">
                    <h2 class=" text-danger">CHỦ ĐỀ TÁC PHẨM</h2>
          </div>
            <img class="image-responsive" src="~/image/Index/4-color-dash.png" alt="4dash" width="184.999px" height="5px" />
        <div class="center-box" style="position: relative">
            <p class ="quotation-mark" style="margin: 0; display: inline; position:absolute>"</p>
            <p class="box-text" style="margin: 0; display: inline;" align="right">Toàn thể sinh viên hệ Chính quy đang học tại các trường Cao đẳng, Đại học trên địa bàn TP. Hồ Chí Minh. - Thí sinh dự thi theo hình thức cá nhân hoặc nhóm 2 – 3 người. Thí sinh có thể dự thi ở cả 02 hình thức trên.</p>
        </div>
       </div>
     </main>
   </div>
</body>