@page
@model About2022Model
@{
    ViewData["Title"] = "Về S.T.A.M.P";
}
<link href="d:\stamp2023\stamp2023\pages\about2022.cshtml.css" rel="stylesheet" />
<style>
    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #F84E4E;
    }

    a:active {
        text-decoration: underline;
        color: #F84E4E;
    }
</style>

<body style="background-color: #F8F1F1" class="About">
    <!--Vertical nav bar-->
    <div class="site-inner" style="height: auto !important">
        <aside class="dynamic-menu" style="background-color:#FFF">
            <div id="dy-menu">
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p>
                            <a href="d:\stamp2023\stamp2023\pages\about.cshtml.cs"><b>STAMP 2023</b></a>
                        </p>
                    </h2>
                </div>
                <div class="leftmenu2">
                    <ul>
                        <li><a href="/html/the-le-html">Thể lệ</a></li>
                        <li><a href="/html/doi-tuong-html">Đối tượng</a></li>
                        <li><a href="/html/noi-quy-html">Nội quy</a></li>
                    </ul>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p><a href="d:\stamp2023\stamp2023\pages\about2022.html" target="_blank"><b>STAMP 2022</b></a></p>
                    </h2>
                </div>
                <div class="leftmenu">
                    <h2 class="stamp-year">
                        <p><a href="d:\stamp2023\stamp2023\pages\about2021.html" target="_blank"><b>STAMP 2021</b></a></p>
                    </h2>
                </div>
            </div>
        </aside>

        <!--Main content-->
        <main class="content" style="height: auto !important; background-color:#FFF">
            <div class="container" style="width:auto">
                <img class="image-responsive" src="~/image/Index/GioiThieuVeStamp/Untitled design (1) 1.png" alt="logo" width="475px" height="154px" />
                <div class="banner-sub">
                    <h1><strong>S.T.A.M.P - SPREAD TO A MEANINGFUL PLACE</strong></h1>
                    <p>S.T.A.M.P được tổ chức mùa đầu tiên vào năm 2021 - trong thời điểm đại dịch COVID-19 đang diễn ra rất căng thẳng. Nhằm chung tay phòng chống dịch bệnh trên toàn quốc, với chủ đề <b>“S.T.A.M.P - Spread To A Meaningful Place”</b>, cuộc thi đã tạo cơ hội giúp các bạn sinh viên cùng nhau lan tỏa tinh thần đoàn kết dân tộc tạo nên một tập thể vững mạnh. Ngoài ra, cuộc thi cũng giúp các bạn sinh viên khám phá, tìm hiểu về giá trị đích thực của tem thư để từ đó biết giữ gìn và phát huy những giá trị truyền thống tốt đẹp của dân tộc.</p>
                </div>
            </div>
            <div class="container-center-display">
                <h2 class="text-danger">CHỦ ĐỀ TÁC PHẨM</h2>
            </div>
            <img class="image-responsive" src="~/image/Index/4-color-dash.png" alt="4dash" width="184.999px" height="5px" />
            <div class="stamp-box">

                <!--Tác phẩm STAMP 2021-->
                <center>
                <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                </div>
                </center>
                <h3 class="stamp-caption">QUYẾT THẮNG COVID</h3>
                <p class="stamp-creator">Lê Hồng Diểm</p>
                <div class="grid-stamp">
                    <div class="left-comlumn-stamp">
                    <center>
                    <div class="stamp">
                        <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">ANH HÙNG ÁO XANH</h3>
                    <p class="stamp-creator">Phạm Xuân Duy - Đỗ Thị Nga</p>

                    <hr style="height:13px; width: auto; color: white" />
                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">KHỞI NGHĨA BÀ TRIỆU</h3>
                    <p class="stamp-creator">Bùi Quốc Thịnh - Nguyễn Thị Quỳnh Ngọc</p>

                    <center>
                    <div class="stamp">
                    <img src="~/image/Index/NHẤT 1.png" />
                    </div>
                        </center>
                    <h3 class="stamp-caption">KỶ NIỆM 76 NĂM QUỐC KHÁNH NƯỚC CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM (1945 - 2021)</h3>
                    <p class="stamp-creator">Nguyễn Thị Phương Uyên - Trần Công Danh</p>
                    </div>

                    <div class="right-column-stamp">
                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">MỘT CHÚT HY SINH VÌ HẠNH PHÚC CỦA NGƯỜI DÂN” “CÙNG NHAU CỐ GẮNG</h3>
                        <p class="stamp-creator">Hồ Thị Kim Vi - Nguyễn Thị Vàng - Nguyễn Uyên Phương</p>

                        <center>
                        <div class="stamp">
                            <img src="~/image/Index/NHẤT 1.png" />
                        </div>
                        </center>
                        <h3 class="stamp-caption">BÌNH YÊN</h3>
                        <p class="stamp-creator">Phan Nguyễn Hoàng Trang - Lê Thị Thúy Hồng</p>
                    </div>
                </div>
            </div>
    </main>
    </div>
</body>

