@page
@model UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.13/tailwind.min.css">
<div class="grid grid-cols-10">
    <div class="col-span-3 flex flex-col items-center bg-gray-300 h-screen">
        @* sidebar *@
        <button class="w-10/12 p-2 bg-green-600 mt-24 text-gray-100">Thay đổi thông tin cá nhân</button>
        <button class="w-10/12 p-2 mt-4 bg-white">Thoát</button>
    </div>
    <div class="col-span-7 pl-12">
        <div class="w-full">
            @* header *@
            <div class="flex justify-around items-center mt-8">
                <h4>THÔNG TIN CÁ NHÂN</h4>
                <div class="flex items-center justify-center">
                    <object class="mr-4" data="~/icons/menu.svg" type="image/svg+xml"></object>
                    <object class="mr-4" data="~/icons/bell.svg" type="image/svg+xml"></object>
                    <object class="mr-4" data="~/icons/profile.svg" type="image/svg+xml"></object>
                </div>
            </div>

            <object class="m-4" data="~/icons/profileAdd.svg" type="image/svg+xml"></object>

            <form action="" class="w-full">
                <input type="text" placeholder="Họ và tên" class="w-11/12 p-2 bg-gray-200 border-2 border-black">
                <input type="text" placeholder="Truờng" class="w-11/12 mt-4 p-2 bg-gray-200 border-2 border-black">
                <input type="text" placeholder="MSSV" class="w-11/12 mt-4 p-2 bg-gray-200 border-2 border-black">
                
                <div class="flex items-center justify-end mt-8">
                    <button class="bg-green-600 rounded-full text-white p-1" style="width:200px">Lưu thông tin</button>
                    <button class="bg-red-600 mr-12 ml-4 rounded-full p-1" style="width:200px">Thoát</button>
                </div>
            </form>
        </div>
    </div>
</div>
