@page
@model UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.13/tailwind.min.css"
/>
<div>
    @* logo *@
  <div class="relative">
    <div class="flex items-center justify-center w-full mt-8">
      <div
        class="w-10/12 flex items-center justify-center"
        style="
          background-color: #f8f1f1;
          height: 360px;
          border-radius: 0px 0px 60px 60px;
        "
      >
        <img src="~/image/Header and Footer/Logo.png" alt="logo" />
      </div>
    </div>
    <div class="absolute flex items-end" style="bottom: -100px; left: 200px">
      <object
        data="~/image/Profile/DefaultProfileAvatar.svg"
        type="image/svg+xml"
      ></object>
      <span class="mb-4">Tên nguời dùng</span>
    </div>
  </div>

    @* options *@
  <div class="mt-40 flex items-center justify-around">
        @* options component *@
    <div
      class="flex items-center justify-center"
      style="
        background-color: #e8aa42;
        width: 350px;
        height: 110px;
        border-radius: 15px;
      "
    >
      <span>Tac Pham</span>
    </div>

        @* options component *@
    <div
      class="flex items-center justify-center"
      style="
        background-color: #e8aa42;
        width: 350px;
        height: 110px;
        border-radius: 15px;
      "
    >
      <span>Bảng xếp hạng</span>
    </div>

        @* options component *@
    <div
      class="flex items-center justify-center"
      style="
        background-color: #e8aa42;
        width: 350px;
        height: 110px;
        border-radius: 15px;
      "
    >
      <span>Đăng kí</span>
    </div>
  </div>
    @* Ranking *@
  <div class="grid grid-cols-2 w-full">
    <div
      class="bg-gray-200 flex flex-col items-center justify-center mt-12 rounded-xl mx-auto p-6"
      style="width: 500px"
    >
            @* item desc *@
      <div class="flex justify-between items-center" style="width: 100%">
        <div class="flex flex-col mx-4">
          <span>Tác Phẩm tem: </span>
          <span>Hoang hon thien van</span>
        </div>

        <div class="flex flex-col mx-4">
          <span>Tác Giả: </span>
          <span>D.P.My</span>
        </div>
      </div>
            @* item image *@
      <div class="w-full flex justify-center my-4">
        <img
          src="~/image/Header and Footer/Logo.png"
          alt=""
          class="bg-black w-10/12 rounded-md"
          style="object-fit: cover; height: 250px"
        />
      </div>
            @* item vote and rank *@

      <div
        class="w-7/12 flex justify-between p-2"
        style="border: 1px solid black; border-radius: 50px"
      >
        <span>Vote</span>
        <span>Rank</span>
      </div>
    </div>

    <div
      class="bg-gray-200 flex flex-col items-center mt-12 rounded-xl mx-auto p-6"
      style="width: 500px"
    >
            @* item desc *@
      <div class="flex justify-between items-center" style="width: 100%">
        <div class="flex flex-col mx-4">
          <span>Tác Phẩm tem: </span>
          <span>Hoang hon thien van</span>
        </div>

        <div class="flex flex-col mx-4">
          <span>Tác Giả: </span>
          <span>D.P.My</span>
        </div>
      </div>
            @* item image *@
      <div class="w-full flex justify-center my-4">
        <img
          src="~/image/Header and Footer/Logo.png"
          alt=""
          class="bg-black w-10/12 rounded-md"
          style="object-fit: cover; height: 250px"
        />
      </div>
            @* item vote and rank *@

      <div
        class="w-7/12 flex justify-between p-2"
        style="border: 1px solid black; border-radius: 50px"
      >
        <span>Vote</span>
        <span>Rank</span>
      </div>
    </div>
  </div>
</div>

