.banner {
    height: 1440px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;

    position: absolute;
    top: 353px;
    left: 35%;
    margin: 0 auto;
}

.top-stamps {
    display: flex;
    justify-content: space-around;

    margin-top: 55px;
}

.stamp-box {
    height: 544px;
    border-radius: 10px;
    border: 3px solid #000;
    background: #FFF;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.stamp-top-info {
    display: flex;
    justify-content: space-between;
}

.container-not-framework {
    margin: 0 25px;
}

.stamp-name {
    width: 55%;
    margin-left: 5%;
    margin-top: 2%;

    font-size: 1.55vw;
    font-weight: 600;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .stamp-name {
        font-size: 4.7vw;
    }
}

.stamp-author {
    width: 35%;
    margin-top: 5%;

    text-align: center;
    font-size: 1.4vw;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .stamp-author {
        font-size: 4.1vw;
    }
}

.stamp {
    padding: 10px;

    position: relative;
    text-align: center;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
    background: radial-gradient( transparent 0px, transparent 4px, white 4px, white );
    background-size: 20px 20px;
    background-position: -10px -10px;

    overflow: hidden;
    margin: 0 auto;
}

.clickable {
    cursor: pointer;
}

.number-info {
    height: 7%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 3%;
    left: 0;
}

.like-box {
    display: flex;
    justify-content: space-around;

    width: 34%;
    border: none;

    border-radius: 15px;
    background: var(--vng, #E8AA42);
}

.stt-box {
    width: 34%;
    display: flex;
    align-items: center;

    border-radius: 15px;
    background: var(--xanh-l, #34A853);
}

.number {
    font-size: 2.0vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .number {
        font-size: 5.5vw;
    }
}

.like-number {
    width: 20%;
    margin: auto 0;
}

.like-image {
    width: 22%;
    margin: auto 0;
}

.stt-number {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888888;
    width: 60%;
    height: 60%;
    font-weight: bolder;
    border-radius: 28px;
    border: 1.5px solid #000;
    
}

@media only screen and (max-width: 768px) {
    .popup-content {
        width: 90vw;
        height: 55vh;
        margin: 0;
        position: fixed;
        top: 22.5vh;
        left: 5vw;
    }
}

.show {
    display: block;
}

.popup-container {
    width: 100%;
    height: 100%;
}

.stamp-popup {
    display: block;
    float: left;
    width: 35%;
    height: min(auto, 100%);
    margin: 0 3% 3% 0;
}

@media only screen and (max-width: 768px) {
    .stamp-popup {
        padding: 1vw;
    }
}

.popup-stamp-name, .popup-author, .popup-description, .popup-description-title {
    text-align: left;
}

.popup-stamp-name {
    font-size: 2.1vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .popup-stamp-name {
        font-size: 4.8vw;
    }
}

.popup-author {
    font-size: 2.6vh;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .popup-author {
        font-size: 3.7vw;
        margin-top: 10px;
    }
}

.popup-description-title {
    font-size: 1.6vw;
    font-weight: 600;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .popup-description-title {
        font-size: 3.5vw;
        margin-top: 30px;
    }
}

.popup-description {
    font-size: 1.6vw;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .popup-description {
        font-size: 3.2vw;
        margin-top: 25px;
    }
}

.stamp-top-img-container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-space {
    margin-top: 113px;
}

.contest-container {
    width: 90%;
    height: 10vw;
    margin: 3.5vw auto;
    border-radius: 15px !important;
    border: 2px solid var(--xanh-dng, #4285F4) !important;

    display: flex !important;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .contest-container {
        height: 20vw;
        margin: 6vw auto;
    }
}

.stt-contest-box {
    margin: auto 0;
    width: 7%;
    background-color: none;
    color: var(--xanh-l, #34A853);
    text-align: center;
    font-size: 3.0vw;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .stt-contest-box {
        font-size: 4.1vw;
    }
}

.contest-name {
    margin: auto 0;
    width: 42%;
    text-align: center;
    overflow: auto;
    color: #000;
    font-size: 2.4vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .contest-name {
        width: 39%;
        font-size: 3.8vw;
    }
}

.contest-author {
    width: 25%;
    margin: auto 0;
    color: #000;
    text-align: center;
    font-size: 2.0vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .contest-author {
        width: 22%;
        font-size: 3.4vw;
    }
}

.contest-like-box {
    width: 10%;
    height: 40%;
    margin: auto 0;
}

@media only screen and (max-width: 768px) {
    .contest-like-box {
        width: 15%;
        height: 60%;
        margin: auto 0;
    }
}

@media only screen and (max-width: 768px) {
    .contest-like-number{
        font-size: 3.5vw;
    }
}

#more {
    display: none;
}

.readMoreBtn {
    margin: 0 auto;
    width: 15%;
    height: 4vw;
    background-color: #b8b3b3;
    border-radius: 15px !important;
    border: 2px solid black;
}

@media only screen and (max-width: 768px) {
    .readMoreBtn {
        width: 35%;
        height: 10vw;
    }
}

.readMoreBtnContent {
    margin: auto 0;
    font-size: 1.6vw;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .readMoreBtnContent {
        font-size: 3.5vw;
    }
}
